*{
    box-sizing: border-box;
}
.App {
    background-color: #292c35;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}























